<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialoque</title>
  <link rel="stylesheet" href="css/landing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Raleway:ital@1&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <div class="logo-img">
        <img src="Images/14463.jpg" style="mix-blend-mode: darken;">
      </div>
      <div class="title">
        <h1>Dialoque</h1>
      </div>
    </div>
    <div class="nav-list">
      <ul>
          <li><img src="Images/icons8-signin-50.png" class="signin-icon"><p><a href="signin">Sign In</a></p></li>
          <li><img src="Images/icons8-paper-plane-50.png" class="contact-icon"><p><a href="contact-us">Contact Us</a></p></li>
          <li><img src="Images/icons8-about-us-50.png" class="aboutus-icon"><p><a>About Us</a></p></li>
      </ul>
     </div>
  </div>
  <div class="desc">
    <div class="tagline">
      <h1 class="auto-input">Talk,Connect,Repeat</h1>
      <h1>Your New Chatting Destination</h1>
    </div>
    <div class="info">
      <p>Experience the next level of online communication. Join us at <span>Dialoque</span> and embark on a journey where your words create connections that last</p>
    </div>
        <button onclick="window.location.href='signup'" class="cssbuttons-io-button" type="submit"> Get started
            <div class="icon">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
            </div>
            </button>

  </div>

<script src=""></script>
</body>
</html>