*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo {
    display: flex;
    align-items: center;
  }
  .logo-img img{
      width: 150px;
      height: 100px;
      mix-blend-mode: darken;
      margin-top: 10px;
  }
  .title{
    margin-left: -30px;
    font-size: 24px;
  }
.container{
    height: 65vh;
    text-align: center;
}
.verification-card{
    border: 2px solid grey;
    border-radius: 10px;
    height: 100%;
    min-width: 500px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.container img{
    margin-top: 30px;
    padding: 5px;
    border-radius: 50px;
    background: rgb(241, 239, 235);
}
p{
    font-size: 20px;
    color: rgb(59, 61, 61);
}
input{
    display: block;
    padding: 5px;
    width: 300px;
    height: 30px;
    border: 2px solid rgb(62, 61, 61);
    outline: 0;
    margin-top: 30px;
    border-radius: 5px;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin-top: 20px;
    cursor: pointer;
    background: #2b83ff;
    transition: all 0.3s;
}
button:hover {
    background: #2352a4;
}
span{
    color: #177a93;
}